html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,i,em,a,form,input{margin:0;padding:0;}
ul li,ol li{list-style:none;}
a{text-decoration:none;}
img{border:0;}
input{outline:none;}
.main{width:1002px;margin:0 auto;}
body{font:14px/14px "微软雅黑";color:#333;background:#050804;}
.font24{font-size:24px ;}
.col-w{color:#fff;}
.retract{text-indent:99999px;}
.font12{font-size:12px;}
html,body{height:100%;}

.header{height:72px;width:100%;background:url(../images/maishi_01.png) no-repeat;overflow:hidden;}
.logo,.header-l{float:left;}
.logo{margin:18px 52px 0 0;}
.header-l{margin-top:28px;}
.header-l ul li{float:left;margin-right:24px;}
.header a{color:#b1b1b1;font:18px/18px "微软雅黑";}
.header-l ul li a:hover{padding-bottom:26px;display:block;background:url(../images/shouye_10.png) repeat-x left bottom;}
.header-r{float:right;width:313px;height:34px;padding:1px;background:#8ec63f;margin-top:18px;}
.header-r input{float:left;border:0;}
.header-r [type="text"]{width:245px;height:34px;}
.header-r [type="submit"]{width:68px;height:34px;background:url(../images/maishi_03.png) no-repeat;}

.banner{width:100%;height:459px;margin-bottom:39px;background:#2c2f36;}
.banner .main{position:relative;}
.nav{width:990px;height:65px;position:absolute;left:0;bottom:0px;z-index:9;}
.arrows1,.arrows2{width:39px;height:54px;background:url(../images/bg_03.png) repeat-x;float:left;display:block;padding:11px 0 0 17px;}
.nav-m{width:851px;height:57px;background:url(../images/flower-green_03.png) repeat-x;float:left;padding:8px 0 0 21px;margin:0 3px;}
.nav-m ul li{width:48px;height:48px;background:#8ec63f;margin-right:8px;float:left;}
.nav-m ul li img:hover{width:44px;height:44px;margin:2px 0 0 2px;}
.nav-m ul li:last-child{margin-right:39px;}
.nav-m p:nth-of-type(1) a{font-size:18px;line-height:26px;color:#b1b1b1;}
.nav-m p:last-child a{font-size:14px;line-height:22px;color:#b1b1b1;}
.nav-m p a:hover{color:#8ec63f;}

.content-one{width:786px;float:left;margin-bottom:35px;}
h2{width:786px;border-bottom:solid 2px #3e3e3e;height:41px;}
h2 span{margin-left:11px;padding:10px 15px 17px;border-bottom:solid 2px #4f7d11;font-size:26px;color:#b1b1b1;display:inline-block;}

.box{width:772px;overflow:hidden;background:#1c1c1c;margin-top:17px;padding:13px 0 0 18px;}
.box ul,.special ul{margin:0 7px 18px 0;float:left;}
.pic{margin-bottom:14px;border:solid 1px #1c1c1c;display:inline-block;} 
.explain{margin-left:9px;font:12px/12px "宋体";color:#b1b1b1;} 
.pic:hover{border:solid 1px #8dc63f;} 
.explain:hover{color:#8dc63f;}

.content-tow{width:200px;float:right;margin-bottom:35px;}
h3{width:200px;border-bottom:solid 2px #3e3e3e;height:41px;}
h3 span{margin-left:7px;padding:10px 15px 17px;border-bottom:solid 2px #4f7d11;font-size:26px;color:#b1b1b1;display:inline-block;}
.special{width:200px;overflow:hidden;background:#1c1c1c;margin-top:17px;padding:13px 0 0 10px;}

.title{margin-bottom:33px;display:block;}

h2 a{width:62px;height:26px;display:inline-block;margin-left:9px;text-align:center;font-size:20px;color:#b1b1b1;font-weight:normal;line-height:26px;}
h2 a:hover{background:#8dc63f;color:#050804;}

.content-thr{width:1002px;float:left;margin-bottom:48px;}
h4{width:1002px;border-bottom:solid 2px #3e3e3e;height:41px;}
h4 span{margin-left:34px;padding:10px 15px 17px;font-size:26px;color:#b1b1b1;display:inline-block;}
.cooperation{width:1002px;overflow:hidden;margin-top:32px;}
.cooperation .ul-fri {margin-left:12px;}
.cooperation ul li{float:left;}
.cooperation ul li a{width:160px;height:125px;background:url(../images/mais_28.png) no-repeat;display:block;}
.cooperation ul li a img{margin:27px 0 0 12px;}
.cooperation ul li a:hover{background:url(../images/mais_21.png) no-repeat;}
.cooperation .ul-sec {margin-left:92px;}

.footer{width:100%;height:197px;border-top:solid 1px #69932f;padding-top:37px;overflow:hidden;background:#000;}
.footer ul{margin-left:25px;float:left;}
.footer ul li{font-size:12px;color:#b1b1b1;line-height:12px;margin-bottom:9px;}
.footer ul li:nth-of-type(3){color:#8ec63f;margin-bottom:25px;}
.footer ul li:nth-child(4) img{margin-right:12px;}
.footer ol{float:right;width:309px;height:137px;border-left:solid 1px #69932f;padding-left:31px;padding-top:3px;}
.footer ol li:nth-child(1){font-size:14px;color:#8ec63f;line-height:32px;border-bottom:solid 3px #8ec63f;width:62px;margin-bottom:17px;}
.footer ol li:nth-child(3),.footer ol li:nth-child(2){margin:0px 0 9px 17px;}
.footer ol li:nth-child(4){margin:-115px 0 0px 89px;}

.log{width:560px;height:377px;background:url(../images/log_11.png);margin:-188.5px; 0  0 -280px;position:absolute;left:50%;top:50%;z-index:998;}
 .close{width:17px;height:15px;float:right;margin:7px 5px 0 0px;display:block;}
 .close:hover .log{display:none;}
