header img{width:100%;}


section form{margin:18px 8px 0 8px;}
section form input{width:100%;height:48px;border:solid 1px #d8d8d8;font-size:14px;line-height:14px;color:#697279;box-sizing:border-box;}
section form input:nth-child(1){padding-left:48px;background:url(../images/login_05.png) no-repeat 13px 13px;background-size:21px;}
section form input:nth-child(2){padding-left:48px;border-top:none;background:url(../images/login_08.png) no-repeat 13px 13px;background-size:20px }
section form input:nth-child(3){width:18px;height:18px;border:solid 1px #d5425c;border-radius:6px;color:#d5425c;margin:12px 0;}
section p{font-size:14px;line-height:14px;color:#697279;display:inline-block;margin-left:5px;}
section form [type="submit"]{height:40px;line-height:40px;text-align:center;color:#fff;background:#fc727f;}