html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,i,em,a{margin:0;padding:0;}
ul li,ol li{list-style:none;}
a{text-decoration:none;}
img{border:0;}
input{outline:none;}
.main{width:1190px;margin:0 auto;}
body{font:14px/14px "微软雅黑";color:#333;}
.font24{font-size:24px ;}
.col-w{color:#fff;}
.retract{text-indent:99999px;}
.font12{font-size:12px;}
.col-2{color:#f22e00;}
.col-3{color:#f22e00;}

.top{background:#f5f5f5;border-bottom: solid 1px #eee;overflow: hidden;height:35px;width:100%;}
.top a{font:12px/13px "微软雅黑";color:#6c6c6c;}
.top-left{margin-top:12px;float:left;}
.top-left a,.top-right ul li{float:left;}
.top-left a:first-child{margin:0 8px;color:#f22e00;}
.top-left a:nth-child(2){margin-right:20px;}
.top-right ul{float:right;margin-top: 12px;margin-right: 9px;}
.top-right ul li{margin-left: 15px;}
.top-right ul li:nth-child(1) span{margin-right:12px;}
.top-right ul li:nth-child(2) span{margin:0 11px 0 6px;}
.top-right ul li:nth-child(2) i{color:#f22e00;font-style: normal;}
.top-right ul li:nth-child(3) span{margin:0 12px 0 5px;}
.top-right ul li:nth-child(4){margin-left:15px;border-right:solid 1px #e1dde1;padding-right:19px;}
.top-right ul li:nth-child(5) span{margin:0 10px 0 3px;}
.top-right ul li:nth-child(6) span{margin:0 11px 0 0px;}
.top-right ul li:nth-child(7) span{margin:0 11px 0 8px;}


.header{heigh:102px;overflow: hidden;padding-top:38px;position:relative;}
.header .logo{margin-left:20px;float:left;}
.header-right{width: 670px;margin-left:34px;float:left;}
.header-right .box1 a{text-align:center;width:50px;height:27px;color:#ff4400;font-size:12px;line-height:27px;display: inline-block;}
.header-right .box1 a:hover{background:#ff4400;color:#fff;}
form{width:620px;height:34px;border:0;background:#ff4400;padding:3px;float: left;overflow: hidden;}
[type="submit"]{border:0;width:119px;height:34px;background:#ff4400;color:#fff;font-size: 18px;text-align: center;line-height: 34px;float:left;cursor: pointer;}
[type="text"]{width:440px;height:32px;float:left;border:0;background:#fff url(../images/taobao1_03.png) no-repeat 11px 10px;padding-left:30px;}
form a{display:inline-block;width:30px;height:34px;background:url(../images/taobao1_05.png) #FFF no-repeat 0 10px;float:left;}
.sea{display:block;float: left;margin-left:10px;width:24px;height:34px;line-height: 17px;font-size:12px;color:#666;}
.header-right ul li{float:left;margin-right:10px;}
.header-right ul{padding-top:9px;overflow: hidden;display:block;width:620px;margin-bottom:13px;}
.header-right ul li a{color:#666;font-size:12px;}
.header-right ul li:last-child{float:right;}
.header-right ul li:nth-child(5) a{color:#f22e00;}
.barcode{position:absolute;width:82px;height:98px;padding:5px 6px 12px 6px;border:solid 1px #eee;text-align:center;right:0;bottom:0;}

.nav{height:34px;}
.nav a{font-size:14px;color:#3c3c3c;}
.nav ul {overflow: hidden;height:34px;}
.nav ul li{float:left;margin:9px 9px 0 9px;}
.nav ul li:nth-child(1) a{padding-left:13px;height:34px;width:177px;background:#ff6537 url(../images/taobao_14.png) no-repeat 167px 12px;display: block;font-size: 16px;line-height: 34px;color:#FFF;}
.nav ul li:nth-child(1){margin:0 14px 0 0;}
.nav ul li:nth-child(3) a,.nav ul li:nth-child(4) a,.nav ul li:nth-child(2){margin:0 24px 0 0;color:#ff4400;}
.nav ul li:nth-child(4){border-right:solid 1px #e3dde3;}
.nav ul li:nth-child(8){border-left:solid 1px #e3dde3;padding-left:13px;}
.nav ul li:nth-child(8) a{color:#ffcd67;}
.nav ul li a:hover{color:#ff4400;}

.content{width:100%;background:#f1f1f1;min-height:800px;}
.content-l{width:190px;background:#ff6537;float:left;}
.content-l ul li{height:14px;margin-bottom:7px;padding:7px 0 4px 0;}
.content-l ul li a{font-size:14px;line-height:14px;color:#FFF;}
.content-l ul li i,.content-l ul li em{font-size:20px;}
.content-l ul li i{margin:2px 6px 0 11px;}
.content-l ul li em{margin:2px 12px 0 0 ;float:right;}

.content-m{margin:10px 11px 12px 10px;float:left;overflow:hidden;width:690px;}
.comtent-m a{float:left;}
.comtent-m a:first-child{margin-left:9px;}
.shop{width:521px;float:left;overflow:hidden;margin-top:13px;background:#FFF;height:220px;}
.title{height:15px;}
.title b{display:inline-block;padding-left:43px;width:66px;border-bottom:solid 2px #000;font-size:14px;color:#000;background:url(../images/taobao1_10_17.png) no-repeat left bottom;}
.title p{display:inline-block;padding-left:6px;border-bottom:solid 2px #c12c26;font-size:12px;color:#666;width:406px;}
.title p span{float:right;}
.ul-one{width:161px; height:202px;float:left;padding-left:10px;}
.ul-one li{font-size:14px;line-height:14px;}
.ul-one li:first-child{color:#3e2f85;margin-bottom:11px;font-weight:900;margin-top:12px;}
.ul-one li:nth-child(2){color:#000;margin-bottom:5px;font-weight:600;}
.ul-one li:nth-child(3){color:#aeaeae;}
.ul-one li:nth-child(4){margin:33px 0 0 79px;}
.ul-tow{width:161px; height:100px;float:left;padding-left:10px;border:solid 1px #ebebeb;border-top:0;border-bottom:0;}
.ul-tow li{font-size:14px;line-height:14px;width:60px;}
.ul-tow li:first-child{color:#af594f;margin-bottom:11px;font-weight:900;margin-top:12px;}
.ul-tow li:nth-child(2){color:#000;margin-bottom:5px;font-weight:600;}
.ul-tow li:nth-child(3){color:#aeaeae;}
.ul-tow li:nth-child(4){margin-right:3px;width:73px;float:right;margin-top:-55px;}
.ul-three{width:161px; height:100px;float:left;padding-left:10px;border:solid 1px #ebebeb;border-bottom:0;}
.ul-three li{font-size:14px;line-height:14px;width:60px;}
.ul-three li:first-child{color:#57dbcd;margin-bottom:11px;font-weight:900;margin-top:12px;}
.ul-three li:nth-child(2){color:#000;margin-bottom:5px;font-weight:600;}
.ul-three li:nth-child(3){color:#aeaeae;}
.ul-three li:nth-child(4){width:87px;float:right;margin-top:-55px;}
.ul-three{width:161px; height:100px;float:left;padding-left:10px;border:solid 1px #ebebeb;border-bottom:0;}
.ul-three li{font-size:14px;line-height:14px;width:60px;}
.ul-four{width:161px; height:100px;float:left;padding-left:10px;}
.ul-four li:first-child{color:#57dbcd;margin-bottom:11px;font-weight:900;margin-top:12px;}
.ul-four li:nth-child(2){color:#000;margin-bottom:5px;font-weight:600;}
.ul-four li:nth-child(3){color:#aeaeae;}
.ul-four li:nth-child(4){width:87px;float:right;margin-top:-55px;}
.ul-five{border-top:solid 1px #ebebeb;}
.content-m ol{float:left;margin:13px 0 0 9px;}
.content-m ol{color:#a1a1a1;}