html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,i,em,a,input,header,section,form.select,article,figure{margin:0;padding:0;}
ul li,ol li{list-style:none;}
a{text-decoration:none;}
img{border:0;}
input,select{outline:none;}
main{width:958px;margin:0 auto;}
body{font:14px/14px "微软雅黑";color:#333;}
.font24{font-size:24px ;}
.font12{font-size:12px;}
.col-w{color:#fff;}
.col-1{color:#8fa8ce;}
.col-333{color:#333;}
.retract{text-indent:99999px;}

header{width:100%;height:94px;background:#e50011;}
header section,header form,header select,header input,header ul,header ul li{float:left;}
header section{margin:27px 158px 0 2px;}
header form{width:320px;height:30px;border:solid 1px #FFF;margin-top:30px;}
header form select{width:90px;height:30px;border:0;background:#e50011;}
header form [type="text"]{width:200px;height:30px;border:0;background:#e50011;}
header form [type="submit"]{width:20px;border:0;height:30px;background:url(../images/3_06.png) no-repeat 0 5px;}
header ul {margin:38px 0 0 15px;}
header ul li a {padding:0 9px;display:block;line-height:15px;border-right:solid 2px #FFF;}
header ul li a.noborder{border:0;}

nav{background:#e50011 ;height:36px;width:100%;}
nav main{background:url(../images/3_11.png) no-repeat right 5px;height:36px;}
nav ul li{float:left;}
nav ul li a{padding:0 11px;height:36px;line-height:36px;color:#FFF;display:block;}
nav ul li a:hover{background:#FFF;color:#e50011;}

article a{width:81px;height:82px;display:block;margin:50px 0 48px 48px;float:left;}

figure{width:100%;height:344px;background:#f5f5f5;overflow:hidden;}
figure main{height:263px;background:#fff;margin-top:40px;overflow:hidden;}
figure .left{width:680px;overflow:hidden;float:left;}
figure .left-title{height:45px;width:680px;}
figure h3{margin:15px 0 15px 20px;float:left;}
figure .left .more{float:right;margin-top:15px;font-size:12px;}
figure .new{width:315px;height:93px;margin:0 0 17px 20px;background:#f5f5f5;float:left;}
figure .new img,figure .new ul{float:left;}
figure .new ul{width:160px;margin:17px 0 0 8px;}
figure .new ul li{font-size:12px;line-height:22px;color:#333px;}

.right{widrh:244px;padding-left:20px;}
.right .list1{margin:15px 0 8px 0;font-size:12px;color:#333333;}
.right .list2{font-size:12px;height:22px;color:#8f8f8f;margin-bottom:16px;}
.right ul li a{color:red;margin-left:10px;}

section .foot{padding-top:60px;overflow:hidden;margin-bottom:60px;}
section .foot ul{float:left;height:276px;padding:0 41px;border-right:solid 1px #e1e1e1;}
section .foot ul li a{display:block;}
section .foot ul li .ill{margin:15px 0 58px 0;color:#333;}
section .foot ul li .recommend{width:50px;height:20px;text-align:center;line-height:20px;background:#2ac180;}
section .foot ul.foot-one{padding-left:0;}
section .foot ul.foot-tow{padding-right:0;border:0;}


footer{height:180px;width:100%;background:#e50011;padding-top:33px;}
footer p{text-align:center;color:#FFF;}
footer p img{margin-left:28px;}
footer ul{margin:26px 0 14px 207px;display:block;}
footer ul li{float:left;height:13px;padding:0 9px 0 12px;border-right:solid 1px #FFF;color:#FFF;}
.cope{margin:13px 0 17px 0;}

.box a{width:37px;height:31px;display:block;position:fixed;right:50px;bottom:105px;background:#fff;padding:17px 11px 0 0 ;}
